.footer{background-color: #B89078;
bottom: 0;
left: 0;
width: 100%;
}

.contact{      
    display: flex;  
    justify-content: center;
    gap: 100px;
}

.address{
    padding-left: 50px;             
    order: 1;                      
    width: 25%; 
}

.hours{            
    order: 2;                      
    width: 25%; 
}

.phone{            
    order: 3;                      
    width: 25%; 
}

.mail{           
    order: 4;                      
    width: 25%; 
}

.footer-info{     
  display: flex;   
  -ms-flex-align: center; 
  padding-left: 10px;  
  padding-top: 180px;    
}

.account-inquiries{          
    order: 1;                      
    width: 27.5%; 
}

.resources{         
    order: 2;                      
    width: 22.5%; 
}

.shipping{         
    order: 4;                      
    width: 22.5%; 
}

.directions{           
    order: 5;                      
    width: 27.5%; 
}
