.join{
    background-color: $brown;
    text-align: center;
    padding-top: 5px;
    width: 100%;
  padding-bottom: 50px;
}

.join-text{
    display: flex;
    text-align: center;
    order: 2;
    width: 60%;
}
