.menu{
    border: 5px solid $leafGreen;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.menu-heading{
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -40px;
}

.sub{
    text-align: center;
    padding-bottom: 30px;
}

.sub2{
    text-align: left;
    color: $leafGreen;
}