.section-2{
    background-color: $vibrantGreen;
    padding-top: 50px;
    padding-bottom: 50px;
}

.info1{
    float: left;
    padding-left: 200px;
   width: 48%;
   margin: 1%;
   align-content: center;
}
