
#container{
    display: flex;
    background-color: white;
    align-content: center;
    justify-content: center;
    padding-top: 20px;
    
}
.title{
    text-align: center;
}

#container div{
    align-items: center;
    margin: 20px;
    width: 100%;
}

.service-sub{
    display: flex;
}

.shop{
    text-align: center;
    width: 25%;
    order: 1;
}

.cafe{
    text-align: center;
    width: 25%;
    order: 2;
}

.plants{
    text-align: center;
    width: 25%;
    order: 3;
}

.our-story{
    text-align: center;
    width: 25%;
    order: 4;
}