.signup{
    border: 5px solid $leafGreen;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sub{
    text-align: center;
}

.signup-heading{
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -30px;
}

.signup-email{
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: -10px;
}