/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Colors
$Beige: #E8D7C7;
$Brown: #B89078;
$Hippo: #ABAA9B;
$Parkview: #47493E;
$TreeGreen: #6F8667;
$LeafGreen: #4B5937;
$VibrantGreen: #9CA76F;
$ForestGreen: #565A38;
